@page 
@model AliveStoreTemplate.Pages.productModel
@{
    ViewData["Title"] = "category";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<article class="page product">
    <div class="content-con">
        @*path 路径*@
        <section class="path">
            <a href="/">HOME</a>
            <a asp-page="category" asp-route-category="@Model.cardInfo.Category" asp-route-subCategory="">@Model.cardInfo.Category</a>
            <a asp-page="category" asp-route-category="@Model.cardInfo.Category" asp-route-subCategory="@Model.cardInfo.Subcategory">@Model.cardInfo.Subcategory</a>
            @*<a href="/">HOME</a><a href="category?pid=<%=FCate.Id %>"><%=FCate.Name %></a><a href="category?pid=<%=FCate.Id %>"><%=Cate.Name %></a>*@
        </section>
        @* /path 路径*@
        @*product 产品*@
        <article class="product">
            @*product-photo 产品照片*@
            <section class="product-photo">
                <figure class="photo-view">
                    @*<img class="product_img"/>*@
                    <img src="img/ill_prod1.png" />
                    @*<img src="<%=MainImage %>" alt="" />*@
                </figure>
            </section>
            @*product-info 產品資訊*@
            <section class="product-info">
                <div class="info-con">
                    <form class="ui form" method="post">
                        @*<a asp-page="category" asp-route-category="@Model.cardInfo.Category" asp-route-subCategory="">@Model.cardInfo.Category</a>*@
                        <h2 class="info-tit" id="info-tit">@Model.cardInfo.CardName</h2>
                        <p class="info-intro" id="info-intro">@Model.cardInfo.Description</p>
                        <p class="info-price">
                            <span class="price-orignal" id="info-price">1500</span><span class="price-discount" id="info-secprice">@Model.cardInfo.Price</span>
                        </p>
                        <section class="forms-basic info-spec">
                            <asp:DropDownList ID="ddlSpec" runat="server" ClientIDMode="Static" onchange="setSpecMaxCount(this.options[this.options.selectedIndex].value)" Width="100%"></asp:DropDownList>
                            <asp:HiddenField ID="hfSpecId" ClientIDMode="Static" runat="server" Value=""/>

                            <select class="inp-block" id="" asp-for=@Model.cardInfo.Inventory>
                                @for(var x =1; x <= (Model.cardInfo.Inventory > 5 ? 5 : Model.cardInfo.Inventory); x++)
                                {
                                    <option value="@x">@x</option>
                                }
                            </select>
                        </section>
                        @*<h4>优惠活动</h4>
                        <p>
                            全站买1111减111<br />
                            11/1-11/11,拍即享原价75折
                        </p>*@
                        <section class="info-action">
                            <button type="button" class="" type="submit" asp-page-handler="AddToCart">加入購物車</button>
                        </section>
                    </form>
                </div>
            </section>
            @*product-intro 商品介绍*@
            <section class="product-intro">
                <h3><em>商品介绍</em><span></span></h3>
                <div class="intro-detial">
                    @*<asp:Literal runat="server" ClientIDMode="Static" ID="ltDesc"></asp:Literal>*@
                    <p>卡片及規格</p>
                    <p>
                        <img class="product_img" src="img/ill_prodintro1.jpg" alt="" />
                    </p>
                </div>
            </section>
            @*product-related 相關商品*@
            @*<section class="product-related">
                <h3><em>相關商品</em><span></span></h3>
                <ul class="list-related">
                    <li>
                        <div class="prod">
                            <a href="product" class="prod-photo" style="background-image: url(img/ill_prod1.png);"></a>
                            <section class="prod-info">
                                <a href="product" class="prod-name">产品名称</a>
                                <p class="prod-price">
                                    <span class="price-orignal">500</span>
                                    <span class="price-discount">300</span>
                                </p>
                            </section>
                        </div>
                    </li>
                    <li>
                        <div class="prod">
                            <a href="product" class="prod-photo" style="background-image: url(img/ill_prod2.png);"></a>
                            <section class="prod-info">
                                <a href="product" class="prod-name">产品名称</a>
                                <p class="prod-price">
                                    <span class="price-orignal">500</span>
                                    <span class="price-discount">300</span>
                                </p>
                            </section>
                        </div>
                    </li>
                    <li>
                        <div class="prod">
                            <a href="product" class="prod-photo" style="background-image: url(img/ill_prod3.png);"></a>
                            <section class="prod-info">
                                <a href="product" class="prod-name">产品名称</a>
                                <p class="prod-price">
                                    <span class="price-orignal">500</span>
                                    <span class="price-discount">300</span>
                                </p>
                            </section>
                        </div>
                    </li>
                    <li>
                        <div class="prod">
                            <a href="product" class="prod-photo" style="background-image: url(img/ill_prod4.png);"></a>
                            <section class="prod-info">
                                <a href="product" class="prod-name">产品名称</a>
                                <p class="prod-price">
                                    <span class="price-count">300</span>
                                </p>
                            </section>
                        </div>
                    </li>
                    <li>
                        <div class="prod">
                            <a href="product" class="prod-photo" style="background-image: url(img/ill_prod1.png);"></a>
                            <section class="prod-info">
                                <a href="product" class="prod-name">产品名称</a>
                                <p class="prod-price">
                                    <span class="price-orignal">500</span>
                                    <span class="price-discount">300</span>
                                </p>
                            </section>
                        </div>
                    </li>
                    <li>
                        <div class="prod">
                            <a href="product" class="prod-photo" style="background-image: url(img/ill_prod2.png);"></a>
                            <section class="prod-info">
                                <a href="product" class="prod-name">产品名称</a>
                                <p class="prod-price">
                                    <span class="price-orignal">500</span>
                                    <span class="price-discount">300</span>
                                </p>
                            </section>
                        </div>
                    </li>
                </ul>
            </section>*@
        </article>
        @*/product 产品*@
    </div>
</article>
@*<script>
    //$(function(){
    //    let getUrlString = location.href;
    //    let url = new URL(getUrlString);
    //    //var product_id = parseInt(url.searchParams.get('product_id'))
    //    var product_id = url.searchParams.get('product_id')

    //    console.log(product_id, typeof(product_id))
    //    $.ajax({
    //        type:"Post",
    //        url:"@Url.Action("Product_Info","Product")",
    //        data:JSON.stringify({
    //            'product_id' : product_id
    //        }),
    //        dataType:"json",
    //        // 告訴jQuery不要去處理發送的資料
    //        processData : false, 
    //        // 告訴jQuery不要去設定Content-Type請求頭
    //        contentType : 'application/json;charset=UTF-8', //contentType很重要 
    //        success:function(response){
    //            let product_info = response.results[0]
    //            console.log(product_info)

    //            //資訊風琴夾
    //            $("#locationToCategory").attr('href',"Category?category="+product_info.category+"&subCategory=")
    //            $("#locationToCategory").html(product_info.category)
    //            $("#locationToSubCategory").attr('href',"Category?category="+product_info.category+"&subCategory="+product_info.subcategory)
    //            $("#locationToSubCategory").html(product_info.subcategory)

    //            //一般資訊
    //            $("#info-category").html(product_info.category + "-" + product_info.subcategory)
    //            $("#info-tit").html(product_info.cardName)
    //            $("#info-intro").html(product_info.description)
    //            $("#info-price").html(product_info.price)
    //            $("#info-secprice").html(product_info.price)
    //            $(".product_img").attr('src', product_info.imgUrl);

    //            //剩餘數量
    //            let inventory = product_info.inventory
    //            console.log("剩餘數量", inventory)
    //            let count = (inventory <=5) ? inventory : 5 
    //            for(x = 1; x <= count; x++){
    //                $("#info-inventory").append(`<option value="${x}">${x}</option>`)
    //            }
    //        },
    //        error:function(response){
    //            console.log(response)
    //        }
    //    })
    //})

    //function AddToCart(){
    //    let inventory = $("#info-inventory").val()
    //    let getUrlString = location.href;
    //    let url = new URL(getUrlString);
    //    var product_id = url.searchParams.get('product_id')
    //    console.log(product_id, inventory)

    //    $.ajax({
    //        type:"Post",
    //        url:"@Url.Action("AddToCart","ShopCar")",
    //        data:JSON.stringify({
    //            'product_id':product_id,
    //            'num':inventory
    //        }),
    //        // 告訴jQuery不要去處理發送的資料
    //        processData : false, 
    //        // 告訴jQuery不要去設定Content-Type請求頭
    //        contentType : 'application/json;charset=UTF-8', //contentType很重要
    //        dataType:"json",
    //        success:function(response){
    //            console.log(response)
    //        },
    //        error:function(response){
    //            console.log(response)
    //            //location.href = "./Login"
    //        }
    //    })
    //}
</script>*@
